<h1>Historique</h1>

<div class="row">
  <div class="col-md-4">
  </div><!-- /.col -->
  <div class="col-md-4">

    <div id="map">
      {{google-map latitude="34.851939" longitude="-82.399752"}}
    </div>

    <div id="map">
      {{google-map latitude="34.851939" longitude="-82.399752"}}
    </div>

  </div><!-- /.col -->
  <div class="col-md-4">
  </div><!-- /.col -->
</div><!-- /.row -->





{{outlet}}

