<!-- Navigation
==========================================-->

<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index"}}<a class="navbar-brand">Orunginal</a>{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to "index"}}<a class="menu-li">Accueil</a>{{/link-to}}</li>
        <li>{{#link-to "contact"}}<a class="menu-li">Contact</a>{{/link-to}}</li>
        
        {{#if session.isAuthenticated}}
          <!-- User Account -->
          <li class="dropdown user user-menu">{{#link-to "user.dashboard"}}
              <img src="assets/img/team/quentin.jpg" class="user-image" alt="User Image">
              <a  class="menu-li">Quentin Bayart</a>{{/link-to}}
          </li>
  		  	<li><a href="" class="menu-li" {{action "invalidateSession"}}>Déconnexion</a></li>
    		{{else}}
    			<li>{{#link-to "login"}}<a class="menu-li">Connexion</a>{{/link-to}}</li>
    			<li>{{#link-to "inscription"}}<a class="menu-li">Inscription</a>{{/link-to}}</li>
    		{{/if}}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


{{outlet}}

<!-- Footer
==========================================-->
<nav id="footer">
  <div class="container">
      <div class="pull-left fnav">
          <p>ALL RIGHTS RESERVED. COPYRIGHT © 2016. </p>
      </div>
      <div class="pull-right fnav">
          <ul class="footer-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-github"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
      </div>
  </div>
</nav>
