<!-- Navigation
==========================================-->

<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Orunginal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to "index"}}<a>Accueil</a>{{/link-to}}</li>
        <li>{{#link-to "index"}}<a>Contact</a>{{/link-to}}</li>
        
        {{#if session.isAuthenticated}}
		  	<li>{{#link-to "user.dashboard"}}<a>Dashboard</a>{{/link-to}}</li>
		  	<li><a{{action "invalidateSession"}} href="">Déconnection</a></li>
		{{else}}
			<li>{{#link-to "login"}}<a>Connection</a>{{/link-to}}</li>
			<li>{{#link-to "login"}}<a>Inscription</a>{{/link-to}}</li>
		{{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


{{outlet}}

<!-- 
<div class="container">
    <div class="pull-left fnav">
        <p>ALL RIGHTS RESERVED. COPYRIGHT © 2014. Designed by <a href="https://dribbble.com/shots/1817781--FREEBIE-Spirit8-Digital-agency-one-page-template">Robert Berki</a> and Coded by <a href="https://dribbble.com/jennpereira">Jenn Pereira</a></p>
    </div>
    <div class="pull-right fnav">
        <ul class="footer-social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
</div> -->
