<h1 id="title">Bienvenu sur application.hbs</h1>

{{#if session.isAuthenticated}}

  Hi, {{session.email}}
  <br/>
  You can't see this text unless you're logged in!
  <br/>
  Click this button to logout:
  <button {{action "invalidateSession"}}>Logout</button>
{{else}}
  {{#link-to "login"}}Login{{/link-to}}
{{/if}}


{{outlet}}
