<h1 id="title">Bienvenu sur Orunginal [application.hbs]</h1>

{{#if session.isAuthenticated}}
  	<button {{action "invalidateSession"}}>Logout</button>
{{else}}
   	{{#link-to "login"}}
   		<button>Login</button>
  	{{/link-to}}
{{/if}}

{{outlet}}
