<!-- User Page
==========================================-->
<div id="user" class="text-center">
    <div class="overlay">
        <div class="content">
            <p>Hi {{session.email}},</p>
			<br/>
			<p>You can't see this text unless you're logged in!</p>
			<br/>
        </div>
    </div>
</div>

  

{{outlet}}
